/* Basic reset */
body, h1, h2, div, button {
    margin: 0 auto;
    padding: bottom 5px;
    border: none;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('background-image.jpg'); /* Ensure this path is correctly specified */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding-top: 50px;
    padding: 2%; /* Adds padding to left and right */
    width: 96%; /* Reduces width to allow border visibility */
    max-width: 1366px; /* Adjust maximum width as necessary */
    color: #FBCF81; /* Universal text color for better readability */
}

header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em; /* Larger font size for visibility */
    font-weight: bold; /* Ensuring the font is bold */
    color: #FBCF81;
    text-shadow: -1px -1px 0 #22292C, -1px -1px 0 #22292C, -1px 1px 0 #22292C, -1px -1px 0 #22292C; /* Adding text shadow for better contrast */
}

h2 {
    font-size: 1.1em; /* Slightly larger font size for better visibility */
}

.filters-container {
    background-color: #9E6F50; 
    padding: 10px 40px; /* Increased padding for aesthetic spacing */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 80%; 
    margin: 0 auto 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-block {
    width: 100%; /* Full width to align items better */
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Evenly space the filter items */
    align-items: flex-start; 
}

.checkbox-group {
    padding-top: 10px; /* Add padding to the top of the checkbox group */
    display: flex;
    flex-direction: row;
    align-items: left;
    flex-wrap: wrap; /* Allows wrapping within container */
    justify-content: flex-start;
    width: 100%; /* Ensures it spans the full width of its parent */

}

input[type="checkbox"] {
    margin-right: 5px;
    text-align: left;
}

label {
    margin-right: 7px; /* Tighter grouping of labels */
    font-size: 1em;
}

button {
    padding: 15px 30px;
    font-size: 1.2em; /* Slightly larger button text */
    background-color: #FBCF81;
    color: #22292C;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    align-self: center; /* Center the button within the filters container */
}

button:hover {
    background-color: #9E6F50;
}

#chartContainer1, #chartContainer2 {
    width: 80%;
    max-width: 800px;
    height: 400px;
    margin: 20px auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: none;
}


.events-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color:#9E6F50;
    text-shadow: none;
    max-height: 350px; /* Adjust based on your specific layout needs */
    overflow-y: auto; /* Enables vertical scrolling */
}

.events-container h2 {
    text-align: center;
    margin-bottom: 10px;
}

.events-container ul {
    list-style-type: none;
    padding: 0;
}

.events-container li {
    margin: 5px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-bottom: 20px;
    color: #9E6F50;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-container input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #FBCF81;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #9E6F50;
}

#dataDisplay {
    height: 150px; /* Limiting height */
    overflow-y: auto; /* Making it scrollable */
    background-color: #fff; /* Ensuring it's visible against potentially conflicting backgrounds */
    padding: 10px;
    margin-bottom: 20px; /* Space between data display and chart */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#chartContainer1 {
    height: 600px; /* Ensuring the chart has enough space to render */
    width: 100%; /* Take full width of its container */
    margin: 0 auto 30px; /* Proper margin to avoid clashing with other elements */
    border: 1px solid #ccc; /* To visually confirm the container's dimensions */
    background-color: #fff; /* Background to ensure visibility */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#chartContainer2 {
    height: 600px; /* Ensuring the chart has enough space to render */
    width: 100%; /* Take full width of its container */
    margin: 0 auto 30px; /* Proper margin to avoid clashing with other elements */
    border: 1px solid #ccc; /* To visually confirm the container's dimensions */
    background-color: #fff; /* Background to ensure visibility */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.district-images {
    display: flex;          /* Enables flexbox layout */
    flex-direction: column; /* Stacks items vertically */
    align-items: center;    /* Horizontally centers items in the container */
    padding: 10px;
    margin-top: 10px;
    background: white; /* Sets a white background for the container */
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1); /* Optional: Adds a subtle shadow for depth */
    overflow-x: hidden; /* Hides horizontal scroll */
    height: 550px; /* Sets a fixed height for the images container */
    overflow-y: scroll; /* Enables vertical scrolling */
}

#button-container {
    padding-bottom: 20px; /* Adds space below the button container */
}

.district-images img {
    width: 100%;            /* Each image will take the full width of the container */
    height: auto;           /* Maintains aspect ratio */
    margin-bottom: 10px;    /* Adds space between images */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Optional shadow for better visibility */
    border-radius: 10px; /* Gives the images curved edges */
}

.content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%; /* Adds a margin at the bottom */
}

.main-content, .photo-sidebar {
    padding-top: 10px; /* Adds space at the top */
    padding: 10px;
    background: white;
    overflow-y: auto;
}

.data-container {
    display: flex;
    margin-top: 20px;
    padding-top: 20px;
    max-height: 450px; /* Sets a fixed max height for scrolling */
    min-width: 800;
}

.attractions, .events {
    width: 50%;
    padding: 10px;
    min-height: 350px; /* Ensures the container has a minimum height before content loads */
    max-height: 350px; /* Sets a fixed max height for scrolling */
    overflow-y: auto; /* Enables vertical scrolling */
    min-width: 350px; /* Ensures a minimum width for the container */
}

.white-background {
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* To prevent layout shift during content load */
#district-description, #attractions-container ul, #events-container ul {
    min-height: 50px; /* Minimum height to stabilize the layout before content loads */
}